stages:
- test

.run-tests:
  script: &run-tests
  - 'composer update'
  - 'vendor/bin/phpunit --whitelist "src/lib" --colors=never --coverage-text --coverage-html coverage --bootstrap src/bootstrap/bootstrap.php src/tests/*'

# ignore as long as xdebug cannot compile for php7.2+
#test-php-rc:
#  stage: test
#  image: php:rc
#  script: *run-tests

test-php-latest:
  stage: test
  image: sealife/php-phpunit-composer-test:7.1
  script: *run-tests