{% include 'base/heading.html.twig' %}

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Register :)
                    </div>
                    <div class="card-body">
                        {{ form.view }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>